@model IEnumerable<UTCGame.Areas.Product.Models.ProductType>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    </p>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ProductTypeID">Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ProductTypeID">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProductTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
