@model UTCGame.Areas.Game.Models.GameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameID" />
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="GamePrice" class="control-label"></label>
                <input asp-for="GamePrice" class="form-control" />
                <span asp-validation-for="GamePrice" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="GameType" class="control-label"></label>
                <select class="w-100" name="game_type" multiple required>
                    @foreach (var item in ViewBag.GameType)
                    {
                        <option value="@item.GameTypeName">@item.GameTypeName</option>
                    }
                </select>
            </div><br />
            <div class="form-group">
                <label asp-for="GamePlatform" class="control-label"></label>
                <select class="w-100" name="game_platform" multiple required>
                    @foreach (var item in ViewBag.GamePlatform)
                    {
                        <option value="@item.GamePlatformName">@item.GamePlatformName</option>
                    }
                </select>
            </div><br />
            <div class="form-group">
                <label asp-for="GameReleaseDate" class="control-label"></label>
                <input asp-for="GameReleaseDate" class="form-control" />
                <span asp-validation-for="GameReleaseDate" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="FolderMediaID" class="control-label"></label>
                <select asp-for="FolderMediaID" class="form-control" asp-items="ViewBag.FolderMediaID"></select>
                <span asp-validation-for="FolderMediaID" class="text-danger"></span>
            </div><br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGameActive" /> @Html.DisplayNameFor(model => model.IsGameActive)
                </label>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>


