@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<UTCGame.Areas.Employee.Models.Role>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <p>
            <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
        </p>
    </div>
    <div class="col-md-2">
        <form method="get">
            <input type="text" placeholder="Name..." name="_search" />
            <input class="btn btn-outline-primary" type="submit" hidden />
        </form>
    </div>
    <div class="col-md-1">
        <form method="get">
            <select name="_sort" onchange="this.form.submit()">
                <option>Filter</option>
                <option value="az">Title (A-Z)</option>
                <option value="za">Title (Z-A)</option>
                <option value="active">Active</option>
                <option value="!active">Not Active</option>
            </select>
        </form>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                RoleName
            </th>
            <th>
                IsRoleActive
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRoleActive)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.RoleID">Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.RoleID">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.RoleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Role", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)