@model IEnumerable<UTCGame.Areas.Game.Models.GameModel>
@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:200px">
    <h2>Our Games</h2>
    <hr />
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            string _price = item.GamePrice == 0 ? "Free" : $"{item.GamePrice.ToString()}$";

            <div class="card w-100 shadow">
                <div class="card-body">
                    <div class="flex-fill">
                        @foreach (var i in Directory.GetFiles($"wwwroot/media/{item.GameName}"))
                        {
                            @if (i.Contains(".mp4"))
                            {
                                <video class="card-img w-50 p-2" controls>
                                    <source src="~/@i.Replace("wwwroot/","")" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }
                        }<br />
                        @foreach (var i in Directory.GetFiles($"wwwroot/media/{item.GameName}"))
                        {
                            @if (i.Contains(".png"))
                            {
                                <img class="card-img w-25 h-25 p-2" onclick="onClick(this)" src="~/@i.Replace("wwwroot/","")" />
                            }
                        }
                    </div>
                    <h3 class="card-title"><b>@item.GameName</b></h3>
                    <h5>@_price</h5>
                    <h5>Type: @item.GameType</h5>
                    <h5>Play on: @item.GamePlatform</h5>
                    <h5>Release Date: @item.GameReleaseDate</h5>
                    <p class="btn btn-success">Game avaiable now on Stores</p>
                </div>
            </div>
            <br />
        }
    }
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img class="w-100" id="img01">
    </div>
</div>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>
