@model IEnumerable<UTCGame.Areas.Product.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:200px">
    <h2>
        Our Products
        <i class="fa fa-shopping-cart text-danger" style="font-size:24px;" aria-hidden="true" hidden> 0</i>
    </h2>
    <form method="get">
        @foreach (var item in ViewBag.ProductTypes)
        {
            <button type="submit" class="btn btn-primary" name="_types" value="@item.ProductTypeID">
                @item.ProductTypeName
            </button>
        }
    </form>
    <hr />
    @if (Model != null)
    {
        <div class="d-flex flex-wrap">
            @foreach (var item in Model)
            {
                string _price = item.ProductPrice == 0 ? "Free" : $"{item.ProductPrice.ToString()}$";
                <div class="card m-4 shadow" style="width: 20rem;">
                    <div class="card-header">
                        <h3 class="card-title"><b>@item.ProductName</b></h3>
                    </div>
                    <div class="card-body">
                        @foreach (var i in Directory.GetFiles($"wwwroot/media/{item.ProductName}"))
                        {
                            @if (i.Contains(".png") || i.Contains(".jpg"))
                            {
                                <img class="card-img w-25 p-2" onclick="onClick(this)" src="~/@i.Replace("wwwroot/","")" />
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <h5>@_price</h5>
                        <h5>Release Date: @item.ProductReleaseDate.ToShortDateString()</h5>
                    </div>
                    <div class="card-footer">
                        @if (item.ProductQuantity > 0)
                        {
                            <button class="btn btn-success">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <a href="https://www.amazon.com/">Order now on: amazon.com</a>
                            </button>
                        }
                        else
                        {
                            <input class="btn btn-danger" value="Out of stock" readonly />
                        }
                    </div>
                </div>
                <br />
            }
        </div>
    }
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img class="w-100" id="img01">
    </div>
</div>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>
