@model UTCGame.Areas.News.Models.NewEvent
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NewEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewEventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewEventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewEventDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewEventDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewEventDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewEventDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsCategory.NewsCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderMediaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderMediaModel.FolderMediaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.NewEventID">Edit</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>