@model IEnumerable<UTCGame.Areas.News.Models.NewEvent>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <p>
            <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
        </p>
    </div>
    <div class="col-md-3">
        <form method="get">
            <input type="text" placeholder="Title..." name="_search" />
            <input class="btn btn-outline-primary" type="submit" hidden />
        </form>
    </div>
    <div class="col-md-3">
        <form method="get">
            <input name="_date" type="date" />
            <input type="submit" value="Search by Date" />
        </form>
    </div>
    <div class="col-md-2">
        <form method="get">
            <select name="_category" onchange="this.form.submit()">
                <option value="">News Categories</option>
                @foreach (var item in ViewBag.Category)
                {
                    <option value="@item.NewsCategoryName">@item.NewsCategoryName</option>
                }
            </select>
        </form>
    </div>
    <div class="col-md-1">
        <form method="get">
            <select name="_sort" onchange="this.form.submit()">
                <option>Filter</option>
                <option value="az">Title (A-Z)</option>
                <option value="za">Title (Z-A)</option>
                <option value="active">Active</option>
                <option value="!active">Not Active</option>
            </select>
        </form>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewEventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEventDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEventDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolderMediaModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewEventTitle)
                </td>
                <td class="w-25">
                    @Html.DisplayFor(modelItem => item.NewEventDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewEventDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsCategory.NewsCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolderMediaModel.FolderMediaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.NewEventID">Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.NewEventID">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.NewEventID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
